  body{
    margin:10px;
    height: 100%;
    text-align: center;
    background: #C9FFBF;
    background: -webkit-linear-gradient(right, #C9FFBF, #FFAFBD);
    background: -o-linear-gradient(right, #C9FFBF, #FFAFBD);
    background: linear-gradient(to left, #C9FFBF, #FFAFBD);
  }
#wrapper{
  position: relative;
  margin-top: 15%;

}
input[type=text]
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height:30px;
  border-radius: 8px;
  width:200px;
  font-size: 18px;
  text-align: center;
  padding: 5px;

}
#links{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 16px;


}

.btn
{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:100px;
  height: 35px;
  border-radius: 8px;
  font-size: 15px;
}
