table {
  font: 14px ;
  border-collapse: collapse;
  width: 100%;
}
tr{
  border-bottom: 1px solid;
}
th,
td {
  border-left: none;
  border-right: none;
  border-top:2px;
  text-align: left;
}

thead {
  background:#E6E6E6;
  color: black;
  font-size: 14px;
}
thead th:nth-child(1){
  text-align: center;
}
tbody td:nth-child(1) {
  background: #E6E6E6;
}
tbody td{
   text-align: left;
}
